<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Hospital</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PersonController</display-name>
    <servlet-name>PersonController</servlet-name>
    <servlet-class>com.servlet.Begin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonController</servlet-name>
    <url-pattern>/PersonController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceptionistController</display-name>
    <servlet-name>ReceptionistController</servlet-name>
    <servlet-class>com.servlet.Receptionist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionistController</servlet-name>
    <url-pattern>/ReceptionistController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorController</display-name>
    <servlet-name>DoctorController</servlet-name>
    <servlet-class>com.servlet.DoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorController</servlet-name>
    <url-pattern>/DoctorController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NurseController</servlet-name>
    <url-pattern>/NurseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NurseController</display-name>
    <servlet-name>NurseController</servlet-name>
    <servlet-class>com.servlet.NurseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessengerController</servlet-name>
    <url-pattern>/MessengerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessengerController</display-name>
    <servlet-name>MessengerController</servlet-name>
    <servlet-class>com.servlet.MessengerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryController</servlet-name>
    <url-pattern>/InventoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InventoryController</display-name>
    <servlet-name>InventoryController</servlet-name>
    <servlet-class>com.servlet.InventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabTechnicianController</servlet-name>
    <url-pattern>/LabTechnicianController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LabTechnicianController</display-name>
    <servlet-name>LabTechnicianController</servlet-name>
    <servlet-class>com.servlet.LabTechnicianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DieticianController</servlet-name>
    <url-pattern>/DieticianController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DieticianController</display-name>
    <servlet-name>DieticianController</servlet-name>
    <servlet-class>com.servlet.DieticianServlet</servlet-class>
  </servlet>
</web-app>